.modalx-enter {
  opacity: 0;
  transform: scale(0.9);
}
.modalx-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 200ms, transform 200ms;
}
.modalx-exit {
  opacity: 1;
}
.modalx-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 200ms, transform 200ms;
}

.modal-back-enter {
  opacity: 0;
}
.modal-back-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 200ms, transform 200ms;
}
.modal-back-exit {
  opacity: 1;
}
.modal-back-exit-active {
  opacity: 0;
  transition: opacity 200ms, transform 200ms;
}
